<div class="row" ng-controller="trackCtrl">
    <!--COLUMNA IZQUIERDA-->
    <div class="col-lg-4">
        <div id="bsuqueda">
            <input id="textBusqueda" name="textBusqueda" type="text" class="form-control" placeholder="Search" ng-model="textBusqueda" />
            <button type="button" class="btn btn-default" ng-click="buscar()">Close</button>
        </div>

        <div id="subMenu">
            <div id="preMade">
                <a ng-click="showDiv('preMadeWorkouts')">Pre-Made workouts<i class="fa fa-chevron-up" aria-hidden="true"></i></a>

                <div id="preMadeWorkouts" style="display:none">
                    <div ng-repeat="alumno in alumnos">
                        <p>{{alumno.nombre}}</p>
                        <span>{{alumno.curso}}</span>
                    </div>
                </div>

            </div>
            <div id="recent"></div>
            <div id="all"></div>
        </div>
    </div>
    <!--COLUMNA DERECHA-->
    <div class="col-lg-8" id="vistaParcial">

    </div>

</div>

