<div class="row" ng-controller="trackCtrl">
    <!--COLUMNA IZQUIERDA-->
    <div class="col-lg-4">
        <div id="busqueda">
            <input id="textBusqueda" name="textBusqueda" type="text" class="form-control" placeholder="Search" ng-model="textBusqueda" />
            <button type="button" class="btn btn-default" ng-click="buscar()">Close</button>
        </div>

        <div id="subMenu">
            <div id="preMade">
                <a id="showDiv" ng-click="showDiv('preMadeWorkouts', $event)" show="false" style="font-size:medium">Pre-Made workouts  <i class="fa fa-chevron-up" aria-hidden="true"></i></a>

                <div id="preMadeWorkouts" style="display:none">
                    <div ng-repeat="preW in preMadeWorkouts">
                        <a style="font-size:medium" ng-click="descripcionEnPartial($event)" data="{{preW._id}}">{{preW.Nombre}}</a>
                        <span>{{preW.Puntos}}</span>
                        @*<div ng-repeat="track in preW.Tracks">
                            <p>{{track.Nombre}}</p>
                        </div>*@
                    </div>
                </div>

            </div>
            <div id="recent"></div>
            <div id="all"></div>
        </div>
    </div>
    <!--COLUMNA DERECHA-->
    <div class="col-lg-8" id="vistaParcial">
       <div id="grid" style="width:940px; height:300px;" ui-grid="{ data: Tracks,  columnDefs: [{ name: '_id', visible: false }] }" ></div>
    </div>

</div>

