<div class="text-center">
    <div class="row">
        <div class="col-lg-4 pull-left">
            <img src="~/Content/Imagenes/logo.png" />
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 pull-right">
            <p style="font-size:15px;">Already a Fitocrat?  <a href="#/Login" class="button-login">Login</a></p>        
        </div>
    </div>
    <br />
    <div class="center" style="position:relative; background:url(../../Content/Imagenes/Portadas/portada.jpg); width:90%; height:480px">
        <div id="textoImg" style=" float:right">
            <h2 style="text-align:center; color:#FFF">2016 is Your Year</h2>
            <p style="color:#8A9599; text-align:center">Fit fitness into your life this year. Track your <br /> develop healthy habits, and reach your <br />goals with the help of our expert coaches.</p>
            <button id="buttonLogin" class="btn btn-primary btn-lg center" style="width:300px; float:right">Join Today</button>
        </div>
    </div>
    <br />
    @Html.Partial("~/Views/PartialsViews/ServicesPV.cshtml", "")
    <br />
    <div class="row portada">
        <h3>How Much Does It Cost?</h3>
        <p>PROFESSIONAL TRAINING FROM THE WORLD'S BEST COACHES STARTS FOR A LITTLES AS $1/DAY</p>
        <!--COLUMNA IZQUIERDA-->
        <div class="col-lg-6" style="background-color:#EFF1F3">
            <h1 style="font-size:30px; color:#2D383C">Free</h1>
            <small>No Strings</small>
            <p style="color:#0079ff; font-size:65px"><span><sup>$</sup>0</span></p>
            <ul style="text-align:left; font-size:15px; color:#8f9a9e">
                <li>Get free workouts for any goal and experience level</li>
                <li>Earn points for every workout logged</li>
                <li>Earn badges for unlocking special achievements</li>
                <li>View progress on any exercise with interactive charts</li>
                <li>Get support and motivation from the most positive fitness community online</li>
                <li>Read daily articles and tips from our Knowledge Center</li>
            </ul>
            <div style="height:100px;"></div>
            <hr/>
            <button id="buttonLogin2" class="btn btn-primary btn-lg" style="width:300px;">Join Now</button>

        </div>
        <!--COLUMNA DERECHA-->
        <div class="col-lg-6" style="background-color:#FFF">
            <h1 style="font-size:30px; color:#2D383C">Coaching</h1>
            <small>Starting From</small>
            <p style="color:#0079ff; font-size:65px"><span><sup>$</sup>1</span></p>
            <ul style="text-align:left; font-size:15px;">
                <li>Get everything included in Fitocracy and...</li>
                <li>Select a coach who can help you reach your goals</li>
                <li>Get a customized nutrition plan built for you</li>
                <li>Follow workouts made specifically for you</li>
                <li>Receive daily accountability and personalized guidance from your coach to make sure you're on track</li>
                <li>Get help from your coach any time you need it</li>
            </ul>
            <div style="height:100px;"></div>

            <hr />
            <button id="buttonCoaching" class="btn btn-primary btn-lg" style="width:300px;">Hire a Coach</button>
        </div>


    </div>  
</div>

