<div id="modalRegistro" class="modal fade" tabindex="-1" role="dialog" ng-controller="registroCtrl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Hey Stranger!</h4>
            </div>

            <div class="modal-body">
                <p>Sign up below to continue your health and fitness journey.</p>

                <div name="loginForm">

                    <div class="row">
                        <!--COLUMNA IZQUIERDA-->
                        <div class="col-lg-6">
                            
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Email</span>
                                    <input id="uEmail" type="email" class="form-control" placeholder="userName@email.com" ng-model="uEmail" required />
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Password</span>
                                    <input id="uPass" type="password" class="form-control" placeholder="***********" ng-model="uPass" required />
                                </div>
                            </div>
                        </div>
                       
                        
                         <!--COLUMNA DERECHA-->
                        <div class="col-lg-6">
                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Username</span>
                                    <input id="uName" type="text" class="form-control" placeholder="CAROL" ng-model="uName" required />
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="input-group">
                                    <span class="input-group-addon">Password Again</span>
                                    <input id="uPassRep" type="password" class="form-control" placeholder="***********" ng-model="uPassRep" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary btn-block" ng-click="registrar()">Create An Account</button>              
                </div>           
            </div>

            <div class="modal-footer">            
                <span class="text-center"><a ng-click="irALogin()">I have already a Fitocracy account, silly!</a></span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
