.button-login {
    font-size: 18px;
    color: #0079ff;
    border: 2px solid #0079ff;
    border-radius: 14px;
    padding: 0 10px 0 10px;
    background: none;
}


.button-modal {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #0079FF;
}

footer p {
    text-align: right;
    margin-right: 10%;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}