body {
    font-family: 'Century Gothic';
    color: #8f9a9e;
}

.button-login {
    font-size: 18px;
    color: #0079ff;
    border: 2px solid #0079ff;
    border-radius: 14px;
    padding: 0 10px 0 10px;
    background: none;
}


.button-modal {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #0079FF;
}

footer p {
    text-align: right;
    margin-right: 10%;
}

.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.portada h4 {
    font-size: 2em;
    text-transform: uppercase;
    color: #2D383C;
    font-size: 24px;
}

.portada h3 {
    margin: 0 auto .25em;
    padding-top: 1em;
    color: #2D383C;
    text-align: center;
    font-size: 54px;
    width: 90%;
    font-family: 'Bariol Light',Arial;
}

.portada h1 {
    font-size: 2em;
    text-transform: uppercase;
    color: #2D383C;
    font-size: 24px;
}

